* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: system-ui;
    color: #555;
    background-color: #6a9c3c;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    
  }
  
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  h1{
      font-size: 4rem;
      padding: 0 0 1.5rem 0;
  }

  .container-option {
    font-size: 1.6rem;
    width: 100%;
    
  }

  .container-option ul {
    margin: auto;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
    border-radius: 0px;
    transition: 0.5s ease;
    max-width: 500px;
    }

    .dropdown {
        opacity: 0;
        visibility: hidden;
        height: 0;
        max-width: 500px;
        overflow: hidden;
        z-index: 1;
        position: fixed;
    }

    .container-option ul li:hover {
        background-color: #c5c5c5;
        
    }


    .container-option ul li {
        list-style: none;
        text-align: left;
        display: flex;
        justify-content: space-between;
        max-width: 500px;
    }

    .container-option ul li a {
        color: #555;
        text-decoration: none;
        width: 100%;
        padding: 5px 10px;
        display: block;
        
    }
    .select-option{
        width: 100%;
    }
   
    .select-option p {
        background-color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
        max-width: 500px;
        margin: 1.5rem auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .select-option p a {
        height: 24px;
        transition: transform .3s ease;
        
    }

    .rotation {
        transform: rotate(180deg);
    }

    .select-option p a img{
        width: 1.5rem;
        margin: auto;
    }


  form {
      margin: 3rem;
      width: 100%;
      max-width: 500px;
      display: flex;
      justify-content: space-between;

  }
  
  .form-invisible {
    display: none;
  }

  form .country-1, form .country-2 {
    font-family: system-ui;
    height: 2.5rem;
    border-radius: .5rem;
    border: none;
    padding: 1rem;
  }

  form .country-1:focus, form .country-2:focus {
    outline-style: none;
  }

  form .country-1:focus, form .country-2:focus {
    outline-style: none;
  }

  form .btn-search {
      padding: .5rem;
      margin: 0;
      border: none;
      border-radius: .5rem;
      width: 10rem;
      cursor: pointer;
  }

  


  .countries {
    /* margin-bottom: 8rem; */
    display: flex;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .country {
    background-color: rgb(184, 184, 184);
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    width: 30rem;
    height:auto;
    border-radius: 0.7rem;
    margin: 0 3rem;
   /*  overflow: hidden; */
  }
  
  
  .country__img {
    width: 30rem;
    height: 17rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }
  
  .country__data {
    padding: 1rem 3rem;
  }
  
  .country__name {
    display: inline-block;
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }
  
  .country__region {
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: .7rem;
    text-transform: uppercase;
    color: #888;
    
    
  }
  
  .country__row:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .country__row span {
    display: inline-block;
    margin-right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    cursor:default;
  }
  
  .btn-country {
    border: none;
    font-size: 2rem;
    padding: 2rem 5rem;
    border-radius: 0.7rem;
    color: white;
    background-color: orangered;
    cursor: pointer;
  }
  
  .images {
    display: flex;
  }
  
  .images img {
    display: block;
    width: 80rem;
    margin: 4rem;
  }
  
  .images img.parallel {
    width: 40rem;
    margin: 2rem;
    border: 3rem solid white;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    text-decoration: none;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #707070;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 50%;
    margin-left: 0px;
    font-size: 1.6rem;
    text-decoration: none;
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #707070;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    text-decoration: none;
  }

    